@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: lightgrey;
  background: #0f172a;
}
h1 {
  font-size: xx-large;
}
h2 {
  font-size: x-large;
}
h3 {
  font-size: x-large;
}
button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.animation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100px;
  background-color: crimson;
  color: #fff;
  margin: 10px auto;
}

.container {
  position: relative;
  border: 1px solid black;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  background-color: hotpink;
  height: 100px;
  width: 100px;
  cursor: pointer;
}
